@use '../components/mixins'as *;
@use '../custom'as *;

.intro-section{
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}

.intros {
    .cv-box {
        position: relative;

        a {
            @include absoluteCenter;

            span {
                i {
                    font-size: 5rem;
                    color: $navi-blue;
                }
            }

            @include media-breakpoint-down(sm) {
                @include absoluteCenterResponsive;
                span {
                    i {
                        font-size: 2.5rem;
                        color: $navi-blue;
                    }
                }
                .border-animation {
                    width: 2.5em;
                    height: 2.5em;
                    border: 0.125rem solid $white;
                }                
            }
        }
    }
}

.border-animation {
    position: absolute;
    top:0;
    left:0;
    width: 5rem;
    height: 5rem;
    border: 0.55rem solid $white;
    animation: pulse-border 1.5s linear infinite;
    border-radius: 5%;

    &--border-1 {
        animation-delay: 1s;
    }
    &--border-2 {
        animation-delay: 1.5s;
    }
}