@use '../custom'as *;


// gradient mixins


@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}



@mixin absoluteCenterIntro {
    position: absolute;
    top: 75%;
    left: 64%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenterResponsive {
    left: 55%;
}

//  absolute center 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//  transition property values

@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}